 <table border="0" align="center">
     <tbody>
     <tr><td></td><h3>Create User</h3><td></td></tr>
     <tr>
       <td><label for="firstname">First Name</label></td>
       <td><input type="text" class="form-control" id="firstName" required [(ngModel)]="age.firstName" name="firstName"></td>
     </tr>
     <tr></tr>
   <tr>
     <td><label for="lastname">Last Name</label></td>
     <td><input type="text" class="form-control" id="lastName" required [(ngModel)]="age.lastName" name="lastName"></td>
   </tr>
     <tr></tr>
     <tr>
     <td><label for="dob">DOB</label></td>
     <td><input type="date" class="form-control" id="dob" required [(ngModel)]="age.dob" name="dob"></td>
       <td> <button (click)="CalculateAge()">Age</button></td></tr>
     <tr></tr>
     <tr>

       <td><label for="dob">Present Age</label></td>
     <td><input type="integer" class="form-control" id="presentAge" required [(ngModel)]="age.presentAge" name="presentAge"></td>
   </tr>
     <tr></tr>
 <tr><td align="right"><button type="submit" (click)="saveAge()" class="btn btn-success">Submit</button></td></tr>
     </tbody>
 </table>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>


