<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="createuser" class="nav-link" routerLinkActive="active">
          Create User
        </a>
      </li>
      <br><br>
      <li class="nav-item">
        <a routerLink="viewuser" class="nav-link" routerLinkActive="active">
          View User
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

